In [15]:
import pandas as pd
from sqlalchemy import create_engine
from config import username, password

### Store CSV into DataFrame

In [2]:
csv_file = "demo_county_statistics.csv"
demo_data_df = pd.read_csv(csv_file)
demo_data_df.head()

,Unnamed: 0,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0

### Create new data with select columns

In [4]:
new_demo_data_df = demo_data_df[['county', 'state', 'Men', 'Women']].copy()
new_demo_data_df.head()

      county state       Men     Women
0  Abbeville    SC   12044.0   12744.0
1     Acadia    LA   30433.0   32174.0
2   Accomack    VA   16079.0   16761.0
3        Ada    ID  217999.0  217118.0
4      Adair    IA    3552.0    3640.0

### Clean DataFrame

### Connect to local database

In [21]:
rds_connection_string = "postgres:rootroot@localhost:5432/ETLproject_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

#Set up database connection
# engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/PewlettHackard')
# conn = engine.connect()

### Check for tables

In [17]:
engine.table_names()

['state_abbr', 'election_demographic', 'governors_county', 'gov_cty_candidate']

In [18]:
new_demo_data_df.columns = ['county_name', 'state_code', 'men_count', 'women_count' ]
new_demo_data_df

                     county_name state_code  men_count  women_count
0                      Abbeville         SC    12044.0      12744.0
1                         Acadia         LA    30433.0      32174.0
2                       Accomack         VA    16079.0      16761.0
3                            Ada         ID   217999.0     217118.0
4                          Adair         IA     3552.0       3640.0
...                          ...        ...        ...          ...
4862  Valdez-Cordova Census Area         AK     4901.0       4538.0
4863   Wrangell City and Borough         AK     1280.0       1195.0
4864    Yakutat City and Borough         AK      366.0        316.0
4865   Yukon-Koyukuk Census Area         AK     2936.0       2517.0
4866                    Doña Ana         NM   105094.0     108755.0

[4867 rows x 4 columns]

### Use pandas to load csv converted DataFrame into database

In [19]:
new_demo_data_df.to_sql(name="election_demographic", con=engine, if_exists= 'append', index=False)

#new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [20]:
pd.read_sql_query('select * from election_demographic', con=engine).head()

   id state_code county_name  men_count  women_count
0   1         SC   Abbeville    12044.0      12744.0
1   2         LA      Acadia    30433.0      32174.0
2   3         VA    Accomack    16079.0      16761.0
3   4         ID         Ada   217999.0     217118.0
4   5         IA       Adair     3552.0       3640.0