In [26]:
import pandas as pd
from sqlalchemy import create_engine

In [27]:
csv_file = "governors_county.csv"
governors_county_data_df = pd.read_csv(csv_file)
governors_county_data_df.head()

  stat_cd     state      county  current_votes  total_votes  percent
0      AL  Delaware        Kent          85415        87025      100
1      AL  Delaware  New Castle         280039       287633      100
2      AL  Delaware      Sussex         127181       129352      100
3      AL   Indiana       Adams          14154        14238       99
4      AL   Indiana       Allen         168312       164793       95

In [28]:
new_governors_county_data_df = governors_county_data_df[['stat_cd', 'state', 'county', 'current_votes']].copy()
new_governors_county_data_df.head()

  stat_cd     state      county  current_votes
0      AL  Delaware        Kent          85415
1      AL  Delaware  New Castle         280039
2      AL  Delaware      Sussex         127181
3      AL   Indiana       Adams          14154
4      AL   Indiana       Allen         168312

In [29]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\mengyin\anaconda3\lib\site-packages (2.8.6)

In [30]:
rds_connection_string = "postgres:rootroot@localhost:5432/ETLproject_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [31]:
engine.table_names()

['state_abbr', 'election_demographic', 'governors_county', 'gov_cty_candidate']

In [33]:
new_governors_county_data_df.columns = ['state_code', 'state_name', 'county_name', 'current_votes']

In [34]:
new_governors_county_data_df.to_sql(name='governors_county', con=engine, if_exists='append', index=False)

In [35]:
pd.read_sql_query('select * from governors_county', con=engine).head()

   id state_code state_name county_name  current_votes
0   5         AL   Delaware        Kent          85415
1   6         AL   Delaware  New Castle         280039
2   7         AL   Delaware      Sussex         127181
3   8         AL    Indiana       Adams          14154
4   9         AL    Indiana       Allen         168312